@import 'antd/dist/antd.variable.min.css';
body {
  background-color: #f2f4fb;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.msg_error{
  color: red;
  padding-left: 10px;
}